Source: arm-none-eabi-gcc
Section: compilers
XBSC-Family: arm-sam
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://arduino.cc

Package: arm-none-eabi-gcc
Section: compilers
Architecture: any
Replaces: arm-sam-gcc
XBSC-Group: ARM
Description: ARM GCC Compiler
 The standard Arduino 1.6.x compiler for SAM3X/SAMD boards

